<div class="main-content">
    <div class="container-fluid">
        <!-- table to display education-->
        <div class="row" *ngIf="educationData.dataRows.length  >  0">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="yellow">
                        <i class="material-icons">done_all</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Education History To Date</h4>
                        <!--table Here-->
                        <div class="content table-responsive">
                          <table class="table">
                                  <thead class="text-primary">
                                      <tr>
                                        <th *ngFor="let cell of educationData.header">{{ cell }}</th>
                                      </tr>
                                  </thead>
                                <tbody>
                                    <tr *ngFor="let row of educationData.dataRows">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                        <td>{{row[3]}}</td>
                                        <td>{{row[4]}}</td>
                                        <td>{{row[5]}}</td>
                                        <td class="td-actions text-right">
                                              <button type="button " rel="tooltip" class="btn btn-edit">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button type="button" rel="tooltip" class="btn btn-delete">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                    </tr>
                                </tbody>
                          </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Testing Differnt Forms -->
        <div class="col-md-6">
          <button type="button" class="btn btn-fill btn-rose" (click)="addEducationRecord()">Add New Education Record</button>
            <div id="addEduRecord"  class="card" style="display:none;">
                    <div class="card-header card-header-icon" data-background-color="orange">
                        <i class="material-icons">school</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Add New Education Record</h4> 
                    <form #EducationForm="ngForm" method="#" action="#" class="form-horizontal">

                        <!-- School Name Starts -->
                          <div class="form-group label-floating is-empty">
                            <label class="labeleducation">School Name</label>
                              <input #schoolName type="text"  placeholder="Please type your response here" class="form-control" appDirectiveAlphabets ngModel id="SchoolName" name="SchoolName">
                              <span class="material-icons form-control-feedback">done</span>
                          </div>

                        <!-- Major -->
                        <div class="form-group label-floating is-empty">
                            <label class="labeleducation">Major</label>
                              <input type="text"  placeholder="Please type your response here" class="form-control" appDirectiveAlphabets ngModel id="SchoolName" name="Major">
                              <span class="material-icons form-control-feedback">done</span>
                          </div>

                        <!-- Degree Program Type -->
                        <div class="form-group label-floating is-empty">
                            <label class="labeleducation">Degree Program Type</label><br>           
                              <md-select placeholder="Select Degree Program Type" name="city" ngClass="btn simple" appDirectiveMandatory ngModel id=" degree_program_type" name="degree_program_type">
                                <md-option  *ngFor="let degree_program of type_of_degree_program" [value]="degree_program">
                                  {{ degree_program }}
                                </md-option>
                              </md-select>
                        </div>

                        <!-- Degree Program Status -->
                        <div class="form-group label-floating is-empty">
                            <label class="labeleducation">Degree Program Status</label><br>                              
                              <md-select  placeholder="Select Degree Program Status" name="city" ngClass="btn simple" appDirectiveMandatory ngModel  name="degree_program_status">
                                <md-option id="degree_program_status"  *ngFor="let program_status of degree_program_status" [value]="program_status">
                                  {{ program_status }}
                                </md-option>
                              </md-select>
                        </div>

                          <!--Date-->
                        <div class="row">
                            <div class="col-md-6 label-floating is-empty">
                              <label class="labeleducation">Start Year</label><br>  
                                <md-select  #startyear placeholder="Start year"  ngClass="btn simple" appDirectiveMandatory
                                ngModel id="start_year" name="start_year">
                                    <md-option *ngFor="let startdate of StartdateArr" [value]="startdate">
                                    {{ startdate }}
                                    </md-option>
                                </md-select>
                            </div>
                            <div class="col-md-6 label-floating is-empty">
                              <label class="labeleducation">End Year</label><br>
                                <md-select  #endyear placeholder="End year"  ngClass="btn simple" appDirectiveMandatory
                                ngModel id="end_year" name="end_year">
                                    <md-option *ngFor="let enddate of enddateArr" [value]="enddate">
                                    {{ enddate }}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>

                        <!-- Honors -->
                        
                        <div class="form-group label-floating is-empty">
                            <label class="labeleducation">Honors</label><br>                              
                              <md-select  placeholder="Select Honors" name="city" ngClass="btn simple" appDirectiveMandatory
                                ngModel id="honors_id" name="honors_id">
                                <md-option *ngFor="let honor of honors" [value]="honor">
                                  {{ honor }}
                                </md-option>
                              </md-select>
                        </div> 

                    <button type="reset" class="btn btn-fill btn-rose">Reset</button>   
                    <button type="submit" class="btn btn-fill btn-rose" (click)="submit_Education_Details()">Submit</button>        
                </form>
                </div>
            </div>
          </div>
        <!-- Add New Education Ends-->
    </div>
</div>
