<div class="main-content">
    <div class="container-fluid">
        <!-- table to display education-->
        <div class="row" *ngIf="tableData1.dataRows.length  >  0">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="yellow">
                        <i class="material-icons">done_all</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Education History To Date</h4>
                        <!--table Here-->
                        <div class="content table-responsive">
                          <table class="table">
                                  <thead class="text-primary">
                                      <tr>
                                        <th *ngFor="let cell of educationData.header">{{ cell }}</th>
                                      </tr>
                                  </thead>
                                <tbody>
                                    <tr *ngFor="let row of educationData.dataRows">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                        <td>{{row[3]}}</td>
                                        <td>{{row[4]}}</td>
                                        <td>{{row[5]}}</td>
                                        <td>{{row[6]}}</td>

                                    </tr>
                                </tbody>
                          </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Field to add education-->
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="yellow">
                        <i class="material-icons">school</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Add New Education Record </h4>
                    <form method="#" action="#">
                            <div class="form-group label-floating col-md-12">
                                    <label class="control-label">School Name</label>
                                    <input type="text" class="form-control" required>
                            </div>
                            <div class="form-group label-floating col-md-12">
                                    <label class="control-label">Major</label>
                                    <input type="text" class="form-control" required>
                            </div>
                            <br>
                            <div class="form-group col-md-12">
                                <div class="dropdown">
                                    <button href="#pablo" class="dropdown-toggle btn  btn-warning btn-block" data-toggle="dropdown">Degree Program Type
                                        <b class="caret"></b>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="dropdown">
                                    <button href="#pablo" class="dropdown-toggle btn btn-warning btn-block" data-toggle="dropdown">Degree Program Status
                                        <b class="caret"></b>
                                    </button>
                                </div>
                            </div>
                            <div class="form-group col-md-12">
                                <div class="dropdown">
                                    <button href="#pablo" class="dropdown-toggle btn btn-warning btn-block" data-toggle="dropdown">Honors
                                        <b class="caret"></b>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="form-group col-md-6">
                                        <label >Start Year</label>
                                        <!--<md-datepicker-toggle md-mode="month"
                                        md-open-on-focus="true">

                                        </md-datepicker-toggle>-->
                                            <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
                                            <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
                                            <md-datepicker #picker md-mode = "month"></md-datepicker>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label >End Year</label>
                                    </div>
                            </div>
                            <div class="form-group row">
                                    <button type="submit" class="btn btn-submit btn-fill">Submit</button>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add New Education Ends-->
    </div>
</div>
