<div class="main-content">
    <div class="container-fluid">
        <!-- table to display education-->
        <div class="row" *ngIf="tableData1.dataRows.length  >  0">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="yellow">
                        <i class="material-icons">done_all</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Education History To Date</h4>
                        <!--table Here-->
                        <div class="content table-responsive">
                          <table class="table">
                                  <thead class="text-primary">
                                      <tr>
                                        <th *ngFor="let cell of educationData.header">{{ cell }}</th>
                                      </tr>
                                  </thead>
                                <tbody>
                                    <tr *ngFor="let row of educationData.dataRows">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>{{row[2]}}</td>
                                        <td>{{row[3]}}</td>
                                        <td>{{row[4]}}</td>
                                        <td>{{row[5]}}</td>
                                        <td>{{row[6]}}</td>

                                    </tr>
                                </tbody>
                          </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Testing Differnt Forms -->
        <div class="col-md-6">
            <div class="card">
                <form method="get" action="/" class="form-horizontal">
                    <div class="card-header card-header-icon" data-background-color="orange">
                        <i class="material-icons">school</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Add New Education Record</h4> 
                        <!-- School Name Starts -->
                        <div class="row">
                            <label class="col-sm-2 label-on-left">School Name</label>
                            <div class="col-sm-8">
                                <div class="form-group label-floating is-empty">
                                    <label class="control-label"></label>
                                    <input type="text" class="form-control" appDirectiveMandatory>
                                    <span class="material-icons form-control-feedback">done</span>
                                </div>
                            </div>
                        </div>
                        <!-- Major -->
                        <div class="row">
                                <label class="col-sm-2 label-on-left">Major</label>
                                <div class="col-sm-8">
                                    <div class="form-group label-floating is-empty">
                                        <label class="control-label"></label>
                                        <input type="text" class="form-control" appDirectiveMandatory>
                                        <span class="material-icons form-control-feedback">done</span>
                                    </div>
                                </div>
                            </div>
                        <br>
                        <!-- Degree Program Type -->

                        <div class="row">
                                <div class="col-md-12">                               
                                   <md-select  placeholder="Degree Program Type" name="city" ngClass="btn simple" appDirectiveMandatory>
                                       <md-option *ngFor="let degree_program of type_of_degree_program" [value]="degree_program">
                                       {{ degree_program }}
                                       </md-option>
                                   </md-select>
                               </div>
                           </div>

                        <br>   
                        <!-- Degree Program Status -->
                        <div class="row">
                                <div class="col-md-12">                               
                                   <md-select  placeholder="Degree Program Status" name="city" ngClass="btn simple" appDirectiveMandatory>
                                       <md-option *ngFor="let program_status of degree_program_status" [value]="program_status">
                                       {{ program_status }}
                                       </md-option>
                                   </md-select>
                               </div>
                           </div>
                        <br>
                        <!-- Honors -->
                        <div class="row">
                            <div class="col-md-12">                               
                                <md-select  placeholder="Honors" name="city" ngClass="btn simple" appDirectiveMandatory>
                                    <md-option *ngFor="let honor of honors" [value]="honor">
                                    {{ honor }}
                                    </md-option>
                                </md-select>
                            </div>
                        </div> 
                    <button type="submit" class="btn btn-fill btn-rose">Submit</button>        
                    </div>
                </form>
            </div>
          </div>

        <!-- Add New Education Ends-->
    </div>
</div>
