<div class="main-content">
    <div class="container-fluid">
        <!--Table Section Starts-->
            <div class="row" *ngIf="deedDataTable.dataRows.length>0">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="purple">
                            <i class="material-icons">assignment</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Deed Hostory</h4>
                            <div class="toolbar">
                                <!--        Here you can write extra buttons/actions for the toolbar              -->
                            </div>
                            <div class="material-datatables table-responsive">
                                <table  id="deedDataTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                    <thead>
                                        <tr>
                                          <th>{{ deedDataTable.headerRow[0] }}</th>
                                          <th>{{ deedDataTable.headerRow[1] }}</th>
                                          <th>{{ deedDataTable.headerRow[2] }}</th>
                                          <th>{{ deedDataTable.headerRow[3] }}</th>
                                          <th>{{ deedDataTable.headerRow[4] }}</th>
                                          <th>{{ deedDataTable.headerRow[5] }}</th>
                                          <th class="disabled-sorting text-right">{{ deedDataTable.headerRow[6] }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of deedDataTable.dataRows">
                                            <td>{{row[0]}}</td>
                                            <td>{{row[1]}}</td>
                                            <td>{{row[2]}}</td>
                                            <td>{{row[3]}}</td>
                                            <td>{{row[4]}}</td>
                                            <td>{{row[5]}}</td>
                                            <td class="text-right">
                                                <button class="btn btn-simple btn-warning btn-icon edit" rel="tooltip" title="Edit" data-placement="left">
                                                    <i class="material-icons">dvr</i>
                                                </button>
                                                <button class="btn btn-simple btn-danger btn-icon remove" rel="tooltip" title="Remove" data-placement="left">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row and Table -->
            <!-- Panel for Forms Section -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">important_devices</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Deeds</h4>
                        <div class="row">
                            <div class="col-md-4" id="">
                                <ul class="nav nav-pills nav-pills-rose nav-stacked">
                                    <li class="active">
                                        <a href="#certificates" data-toggle="tab">Certificates</a>
                                    </li>
                                    <li>
                                        <a href="#taking_classes" data-toggle="tab">Taking Classes</a>
                                    </li>
                                    <li>
                                        <a href="#conducting_classes" data-toggle="tab">Conducting Classes</a>
                                    </li>
                                    <li>
                                        <a href="#mentoring" data-toggle="tab">Mentoring</a>
                                    </li>
                                    <li>
                                        <a href="#writing" data-toggle="tab">Writing</a>
                                    </li>
                                    <li>
                                        <a href="#confrences" data-toggle="tab">Confrences</a>
                                    </li>
                                    <li>
                                        <a href="#awards" data-toggle="tab">Awards</a>
                                    </li>
                                    <li>
                                        <a href="#recognized_expertiese" data-toggle="tab">Recognized Expertise</a>
                                    </li>
                                    <li>
                                        <a href="#patents" data-toggle="tab">Patents</a>
                                    </li>
                                    <li>
                                        <a href="#leisure" data-toggle="tab">Leisure</a>
                                    </li>
                                    <li>
                                        <a href="#languages" data-toggle="tab">Languages</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-md-8 ">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="certificates">
                                        
                                    </div>
                                    <div class="tab-pane" id="taking_classes">
                                        
                                    </div>
                                    <div class="tab-pane" id="conducting_classes">
                                        
                                    </div>
                                    <div class="tab-pane" id="mentoring">
                                        
                                    </div>
                                    <div class="tab-pane" id="writing">
                                        
                                    </div>
                                    <div class="tab-pane" id="confrences">
                                        
                                    </div>
                                    <div class="tab-pane" id="awards">
                                        
                                    </div>
                                    <div class="tab-pane" id="recognized_expertiese">
                                        
                                    </div>
                                    <div class="tab-pane" id="patents">
                                        
                                    </div>
                                    <div class="tab-pane" id="leisure">
                                        
                                    </div>
                                    <div class="tab-pane" id="languages">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
    