<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black">
        <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
        <div class="content">
            <div class="container">
                <div class="row">
                     <!--Login panel---------------------------------------------------------------------------->
                   
                    <div class="col-md-4" *ngIf="isRegistered">
                        <form method="#" action="#">
                            <div class="card card-trans card-login card-hidden">
                                <div class="card-header card-header-icon" data-background-color="rose">
                                	<i class="material-icons">lock_open</i>
                                </div>
                                <br>
                                <div class="card-content">
                                	<h4 class="card-title">Login</h4>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">email</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Email address</label>
                                            <input #E_mail type="email" class="form-control" value = "">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="material-icons">lock_outline</i>
                                        </span>
                                        <div class="form-group label-floating">
                                            <label class="control-label">Password</label>
                                            <input #Password type="password" class="form-control" value = "">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class=" col-md-4 footer text-left">
                                        <button (click)="gotoDash(E_mail.value, Password.value)" class="btn btn-rose btn-simple btn-wd btn-lg">Let's go</button>
                                    </div>
                                    <div class=" col-md-8  footer text-right">
                                        <button (click)="goToRegister()" class="btn btn-rose btn-simple btn-wd btn-lg">
                                            <i class="material-icons">person_add</i> Get registered first</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!--Registration panel-------------------------------------------------------------------------------->
                    <div class="col-md-8 col-md-offset-2" *ngIf="!isRegistered">
                        <form method="#" action="#">
                            <div class="card card-trans card-hidden card-login">
                                <div class="card-header card-header-icon" data-background-color="rose">
                                    <i class="material-icons">person_add</i>
                                </div>
                                <br>
                                <div class="card-content">
                                    <h4 class="card-title">User Registeration</h4>
                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">User Name</label>
                                                <input #U_Name type="text" class="form-control" value = "">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Last Name</label>
                                                <input #L_Name type="text" class="form-control" value = "">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">First Name</label>
                                                <input #F_Name type="text" class="form-control" value = "">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Middle Name</label>
                                                <input #M_Name type="text" class="form-control" value = "">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Date of Birth</label>
                                                <input #DOB type="text" class="form-control" value = "">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Email address</label>
                                                <input #E_Mail type="text" class="form-control" value = "">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">First Name</label>
                                                <input #F_Name type="text" class="form-control" value = "">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Password</label>
                                                <input #P_Word type="password" class="form-control" value = "">
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon"></span>
                                            <div class="form-group label-floating">
                                                <label class="control-label">Confirm Password</label>
                                                <input #P_Word type="password" class="form-control" value = "">
                                            </div>
                                        </div>
                                        <div class="row">
                                        <div class="footer text-center">
                                            <button (click)="doRegister()" class="btn btn-rose btn-simple btn-wd btn-lg">
                                                <i class="material-icons">person_add</i> Register me</button>
                                        </div>
                                    </div>   
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>



                    <!--Registration panel ends-------------------------------------------------------------------------->
                    <div class="col-md-1"></div>
                    <div class="col-md-7" *ngIf="isRegistered">
                        <div class="card  card-trans-blk card-login card-hidden">
                            <div class="card-content  ">
                                <h2>My T Score</h2>
                                <h5> This is the description of the T Score company
                                which is the super descripton , it may also be the nice description, but the description
                                    This is not just a description but description.This is the description of the T Score company. which is the super descripton.but description.This is the description of the T Score company which is the super descripton
                                </h5>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <!-- <hr> -->
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Team
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
        <div class="full-page-background" style="background-image: url(../../../assets/img/login2.jpeg) "></div>
    </div>
</div>
