<div class="main-content">
        <div class="container-fluid">
                <!--Start of Table-->
                <div class="row" *ngIf = "skillsDataTable.dataRows.length>0">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="orange">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Skills History To Date</h4>
                                    <div class="toolbar">
                                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                                    </div>
                                    <div class="material-datatables table-responsive">
                                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr>
                                                  <th>{{ skillsDataTable.headerRow[0] }}</th>
                                                  <th>{{ skillsDataTable.headerRow[1] }}</th>
                                                  <th>{{ skillsDataTable.headerRow[2] }}</th>
                                                  <th>{{ skillsDataTable.headerRow[3] }}</th>
                                                  <th>{{ skillsDataTable.headerRow[4] }}</th>
                                                  <th>{{ skillsDataTable.headerRow[5] }}</th>
                                                  <th>{{ skillsDataTable.headerRow[6] }}</th>
                                                  <th>{{ skillsDataTable.headerRow[7] }}</th>
                                                  <th>{{ skillsDataTable.headerRow[8] }}</th>
                                                  <th class="disabled-sorting text-right">{{ skillsDataTable.headerRow[9] }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of skillsDataTable.dataRows">
                                                    <td>{{row[0]}}</td>
                                                    <td>{{row[1]}}</td>
                                                    <td>{{row[2]}}</td>
                                                    <td>{{row[3]}}</td>
                                                    <td>{{row[4]}}</td>
                                                    <td>{{row[5]}}</td>
                                                    <td>{{row[6]}}</td>
                                                    <td>{{row[7]}}</td>
                                                    <td>{{row[8]}}</td>
                                                    <td class="td-actions text-right">
                                                        <button type="button " rel="tooltip" class="btn btn-edit">
                                                                  <i class="material-icons">edit</i>
                                                        </button>
                                                        <button type="button" rel="tooltip" class="btn btn-delete">
                                                                  <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
                    <!-- end row and Table -->

            <!-- Testing Second forms -->
            
            <!--Form Section Starts-->
            <div class="row">
                <div class="col-md-6">
                    <button class="btn btn-fill btn-rose" (click)="addSkillsRecord()" ng-show="showBtns">Add New Skills Record</button>
                    <div class="card" id="addSkillsRecord" style="display:none;">
                        <div class="card-header card-header-icon" data-background-color="orange">
                            <i class="material-icons">rowing</i>
                        </div>
                        <div class="card-content">
                            <h4 class="card-title">Add New Skills Record</h4>
                            <form method="#" action="#">
                                <div class="form-group label-floating">
                                    <label class="control-label" style="color: rgba(0,0,0,1);">Method/Skills Name</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label" style="color: rgba(0,0,0,1);">Vendor/Distributor Name</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label" style="color: rgba(0,0,0,1);">Number of LinkedIn Endorsments</label>
                                    <input type="number" number="true" class="form-control" default = "0" required>
                                </div>
                                <br>

                                <div class="form-group label-floating">
                                <label class="control-label" style="color: rgba(0,0,0,1);">Category</label>                         
                                <!--     <md-select  placeholder="Category" name="city" ngClass="btn simple"  ngModel id="degree_program_status" name="Category">
                                   <md-option *ngFor="let category of category_for_dropdown" [value]="category">
                                   {{ category }}
                                   </md-option>
                                </md-select> -->
                                    <div class="radio">
                                        <label style="color: rgba(0,0,0,1);">
                                        <input type="radio" name="Category" checked="true">Software-User 
                                        </label>
                
                                        <label style="color: rgba(0,0,0,1);">
                                        <input type="radio" name="Category">Software-Programming            
                                        </label>

                                        <label style="color: rgba(0,0,0,1);">
                                        <input type="radio" name="Category">Device Operation                                              
                                        </label>
                                    </div>
                                </div>
                            <hr>
                                <div class="form-group label-floating is-empty">    
                                    <label style="color: rgba(0,0,0,1);">Proficiency Level</label>  
                                    
                                    <div class="radio">
                                    <label style="color: rgba(0,0,0,1);">
                                    <input type="radio" name="proficiency_type_skill" checked="true">Basic (> 25% Proficiency)
                                    </label>
                                    <br>
            
                                    <label style="color: rgba(0,0,0,1);">
                                    <input type="radio" name="proficiency_type_skill">Intermediate (> 50% Proficiency)           
                                    </label>
                                    <br>

                                    <label style="color: rgba(0,0,0,1);">
                                    <input type="radio" name="proficiency_type_skill">Advanced (> 75% Proficiency)                                              
                                    </label>
                                    <br>


                                    <label style="color: rgba(0,0,0,1);">
                                    <input type="radio" name="proficiency_type_skill">Expert (> 95% Proficiency)                                              
                                    </label>
                                    </div>
                                </div>
                                <br>
                                <!--Date-->
                                <div class="row">
                                    <div class="col-md-6">
                                        <i class="material-icons">date_range</i>
                                        <label class="strong-font" style="color: rgba(0,0,0,1);">Proficiency Year</label>
                                        <!-- <md-input-container > -->
                                            <!-- <input
                                                placeholder="Pick a start date"  type="text" id="datepicker"
                                                ngModel="date" name="proficiency_year" value="null"> -->
                                            <input placeholder="Pick a start date"  type="month"
                                            ngModel name="proficiency_year" value="null">
                                       <!--  </md-input-container> -->

                                      </div>
                                      </div>
                                <hr>
                                <!-- Date end-->

                                <div class="row">

                                                <label class="col-md-4" style="color: rgba(0,0,0,1);">Formal Certifcation</label>
                                                <div class="togglebutton">
                                                    <label class="col-md-8" >
                                                        <input type="checkbox" [(ngModel)]="checkboxFormal" (ngModelChange)="checkFormalChange()" name="checkboxFormal"> 
                                                        <label style="color: rgba(0,0,0,1);" *ngIf="checkFormalProperty == false">
                                                            No formal certification
                                                        </label>
                                                        <label style="color: rgba(0,0,0,1);" *ngIf="checkFormalProperty == true">
                                                            Yes, I have a formal certification
                                                        </label>
                                                    </label>
                                                </div>
                                </div>
                                <hr>
                                <div class="row">
                                        <!-- <div class="col-md-12"> -->
                                                <label class="col-md-4" style="color: rgba(0,0,0,1);">Used in last 3 Years?</label>
                                               <!--  <div class="togglebutton">
                                                    <label class="col-md-8">
                                                        <input type="checkbox" [(ngModel)]="checkbox" (ngModelChange)="checkUsageChange()" name="checkbox"> 
                                                        <label class="strong-font" *ngIf="checkUsageProperty == false">
                                                            Did not use in last 3 years
                                                        </label>
                                                        <label class="strong-font" *ngIf="checkUsageProperty == true">
                                                            Used in last 3 years
                                                        </label>
                                                    </label>
                                                </div> -->
                                            <div class="col-sm-10 checkbox-radios">
                                                <div class="radio">
                                                    <label style="color: rgba(0,0,0,1);">
                                                    <input type="radio" name="optionsUsageRadios">Often 
                                                    </label>
                            
                                                    <label style="color: rgba(0,0,0,1);">
                                                    <input type="radio" name="optionsUsageRadios">
                                                    Sometimes                             
                                                    </label>

                                                    <label style="color: rgba(0,0,0,1);">
                                                    <input type="radio" name="optionsUsageRadios">
                                                    Rarely                             
                                                    </label>
                                                
                                                    <label style="color: rgba(0,0,0,1);">
                                                    <input type="radio" name="optionsUsageRadios" checked="true">
                                                    No                            
                                                    </label>
                                                </div>

                                            </div>
                                        <!-- </div> -->
                                    </div>

                                <div class="form-group row">
                                        <button type="submit" class="btn btn-fill btn-warning">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    