.right-pane {
    box-shadow:1px 0px 2px #888888; 
}

.left-pane {
    box-shadow:-1px 0px 2px #888888; 
}

.a {
    position: relative;

}

.strong-font{
	font-weight: 100;
	font-size: 14px;
	color:black;
}

.sub-font{
	font-weight: 100;
	font-size: 12px;
	border-right: 1px;	
	border-right-style: solid;
}

.no-margin{
	font-weight: 100;
	font-size: 12px;
}

.vertical-center{
	height: 100px;
	vertical-align: middle;
	text-align: left;
}


