.right-pane {
    box-shadow:1px 0px 2px #888888; 
}

.left-pane {
    box-shadow:-1px 0px 2px #888888; 
}

.a {
    position: relative;

}

.strong-font{
	font-weight: 100;
	font-size: 14px;
	color:black;
}

.sub-font{
	font-weight: 100;
	font-size: 12px;
	border-right: 1px;	
	border-right-style: solid;
}

.no-margin{
	font-weight: 100;
	font-size: 12px;
}

.vertical-center{
	height: 100px;
	vertical-align: middle;
	text-align: left;
}

.border{
	border-style: solid;
}

.card-header-icon{
	background-color:#FFC107;
	color : brown;
}

.text-primary{
	color:brown;
}

.btn{
	background-color:#EF6C00;
	color : white; 

}

.btn:hover {
	background-color:orange;
}

.open:hover{
	background-color: brown;
}

.open:active{
	background-color: brown;
}

.btn-submit{
	background-color: #FF5722;
}

.btn-submit:hover{
	background-color: #BF360C;
}



.radio label .check {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: red;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
}

input[type=radio]:checked ~ .check {
    background-color: #ff8039;;
}

.form-group.marked .form-control {
  box-shadow: none;
}
.form-group.marked.is-focused .form-control {
  background-image: linear-gradient(#BF360C, #BF360C), linear-gradient(#D2D2D2, #D2D2D2);
}
.form-group.marked label.control-label,
.form-group.marked .help-block {
  color: #BF360C;
} 

.marked .form-control-feedback-right {
  color: #4caf50;
  opacity: 1;
}

.form-control+ .form-control-feedback-right {
    margin-top: -30px;
    float: right;
  }

.marked .form-control-feedback-wrong {
  color: #ff0000;
  opacity: 1;
}

.form-control+ .form-control-feedback-wrong {
    margin-top: -30px;
    float: right;
  }

.warning{
	color:red;
	font-size: 16px;
	font-style: bold;
}

