.right-pane {
    box-shadow:1px 0px 2px #888888; 
}

.left-pane {
    box-shadow:-1px 0px 2px #888888; 
}

.a {
    position: relative;

}

.strong-font{
	font-weight: 100;
	font-size: 14px;
	color:black;
}

.sub-font{
	font-weight: 100;
	font-size: 12px;
	border-right: 1px;	
	border-right-style: solid;
}

.no-margin{
	font-weight: 100;
	font-size: 12px;
}

.vertical-center{
	height: 100px;
	vertical-align: middle;
	text-align: left;
}

.border{
	border-style: solid;
}

.card-header-icon{
	background-color:#FFC107;
	color : brown;
}

.text-primary{
	color:brown;
}

.btn{
	background-color:#EF6C00;
	color : white; 

}

.btn:hover {
	background-color:orange;
}

.open:hover{
	background-color: brown;
}

.open:active{
	background-color: brown;
}

.btn-submit{
	background-color: #FF5722;
}

.btn-submit:hover{
	background-color: #BF360C;
}



.radio label .check {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    background-color: red;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
}

input[type=radio]:checked ~ .check {
    background-color: #ff8039;;
}

