thead.text-primary {
    color: #9c27b0;
}
th.text-primary {
    color: #9c27b0;
}
.card-header-icon{
	background-color:#FFC107;
	color : brown;
}

.btn{
	background-color:#EF6C00;
	color : white; 
}
.btn-delete{
	background-color: red;
}

.btn-edit{
	background-color: green;
}

.ui-datepicker-calendar {
   display: none;
} 