<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-offset-2 col-md-8">
            <div class="col-xs-12 text-center">
                <h3 style="margin-top: 0px;">My Dashboard</h3>
            </div>
        <div class="row">
            <div class=" col-xs-offset-2 col-xs-8 tBackground  tOutline">
                <img src="assets/img/tTopLegend2.png" id="topLegend" alt="Kiwi standing on oval">
                <div class="col-xs-12" style="padding-left: 0px !important ;padding-right: 0px !important;">
                    <div class="ct-chart quantChart col-centered tBackground" id="tTopBreak"></div>
                </div>
                <div class="col-xs-12" style="padding-left: 0px !important ;padding-right: 0px !important;">
                    <div class="ct-chart totalChart tBackground" id="tTopQuant"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 ">
                <div class="smallCard card-chart">
                    <div class="card-content text-center">
                        <h3 class="card-title">My Top Score</h3>
                        <h4 class="card-title">{{fulltTop}}</h4>
                    </div>
                </div>
                <div class="smallCard card-chart">
                    <div class="card-content text-center">
                        <h3 class="card-title">My Stem Score</h3>
                        <h4 class="card-title">{{fulltStem}}</h4>
                    </div>
                </div>
                <div class="smallCard card-chart">
                    <img class="img-responsive" src="assets/img/tBotLegend.png" id="topLegend" style="padding-bottom: 20px">
                </div>
            </div>
            <div class="tStemOutline  col-xs-4 ">
                <!--                     <span style="display: inline-block;" class="tBackground">
 -->
                <div class=" col-xs-6 ">
                    <div class="ct-chart  tBackground quantChart " id="tStemBreak"></div>
                </div>
                <div class="col-xs-6 ">
                    <div class="ct-chart  tBackground totalChart " id="tStemQuant"></div>
                </div>
                <!--                 </span>
 -->
            </div>
            <div class="col-xs-4 ">
                <div class="smallCard card-chart">
                    <div class="card-content text-center">
                        <h3 class="card-title">My TScore</h3>
                        <h4 class="card-title">{{fulltScore}}</h4>
                    </div>
                </div>
                <div class="smallCard card-chart">
                    <div class="card-content text-center">
                        <canvas height="231px" id="tTopRadar"></canvas>
                    </div>
                </div>
                <div class="smallCard card-chart">
                    <div class="card-content text-center">
                        <canvas height="231px" id="tStemRadar"></canvas>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-xs-12 col-md-offset-2 col-md-8 tOutline" style="margin-top: 20px;">
            <h2 class="text-center">Top Skills</h2>
            <table id="topSkills" class="display">
                <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Communications</td>
                        <td>{{communicationScore}}</td>
                    </tr>
                    <tr>
                        <td>Critical Thinking</td>
                        <td>{{criticalScore}}</td>
                    </tr>
                    <tr>
                        <td>Empathy</td>
                        <td>{{empathyScore}}</td>
                    </tr>
                    <tr>
                        <td>Global Understanding</td>
                        <td>{{globalUnderstandScore}}</td>
                    </tr>
                    <tr>
                        <td>Networking</td>
                        <td>{{networkingScore}}</td>
                    </tr>
                    <tr>
                        <td>Organizational Design</td>
                        <td>{{designScore}}</td>
                    </tr>
                    <tr>
                        <td>Perspective</td>
                        <td>{{perspectiveScore}}</td>
                    </tr>
                    <tr>
                        <td>Project Management</td>
                        <td>{{managementScore}}</td>
                    </tr>
                    <tr>
                        <td>Teamwork</td>
                        <td>{{teamworkScore}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Skill</th>
                        <th>Value</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-xs-12 col-md-offset-2 col-md-8 tOutline" style="margin-top: 20px;">
            <h2 class="text-center">Stem Skills</h2>
            <table id="stemSkills" class="display">
                <thead>
                    <tr>
                        <th>Skill</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Education, Briefings, and Teachings</td>
                        <td>{{educationScore}}</td>
                    </tr>
                    <tr>
                        <td>Memberships, Authorships, and Recognitions</td>
                        <td>{{membershipScore}}</td>
                    </tr>
                    <tr>
                        <td>Methods and Skills Proficiency</td>
                        <td>{{methodsScore}}</td>
                    </tr>
                    <tr>
                        <td>Operational Responsibilities and Expertise</td>
                        <td>{{operationalScore}}</td>
                    </tr>
                    <tr>
                        <td>Software and Device Proficiency</td>
                        <td>{{proficiencyScore}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Skill</th>
                        <th>Value</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>